        @import url('./root.css');
        * {
            margin: 0;
            padding: 0;
            list-style-type: none;
            text-decoration: none;
            box-sizing: border-box;
        }
        
        .container {
            max-width: 1170px !important;
        }
        
        .bg_body {
            background-color: var(--color-light-yellow);
        }
        /* padding */
        
        .pt_custom_40 {
            padding-top: 40px;
        }
        
        .pt_custom_14 {
            padding-top: 14px;
        }
        
        .ps_custom_12 {
            padding-left: 12px;
        }
        
        .pt_custom_35 {
            padding-top: 35px;
        }
        
        .py-33 {
            padding-top: 33px;
            padding-bottom: 33px;
        }
        /* max-width */
        
        .w_100 {
            width: 100%;
        }
        
        .mw_custom_400 {
            max-width: 400px;
        }
        
        .mw-500 {
            max-width: 500px;
        }
        
        .mw-to-card-500 {
            max-width: 320px;
        }
        /* gap */
        
        .gap-72 {
            gap: 72px;
        }
        
        .gap-36 {
            gap: 36px;
        }
        /* line_height */
        
        .lh-12 {
            line-height: 12px;
        }
        
        .lh-56 {
            line-height: 56px;
        }
        
        .lh-100 {
            line-height: 100%;
            letter-spacing: 0.16px;
        }
        
        .lh-86 {
            line-height: 86px;
        }
        
        .lh-28 {
            line-height: 28px;
        }
        
        .lh-17 {
            line-height: 17px;
        }
        /* hero-section */
        
        .over-flow {
            overflow-y: hidden;
        }
        
        .over-layer {
            position: absolute;
            width: 100%;
            height: 1000%;
            top: 0;
            left: -100%;
            background: #ffd3823c;
            z-index: 1;
        }
        
        .fix1,
        .fix2,
        .fix3 {
            transition: all 0.2s ease-in-out;
        }
        
        .nav_button {
            padding: 11px 3px;
            border-radius: 27px;
            transition: all 0.3s linear;
            border: 1.4px solid var(--color-light-orange);
        }
        
        .nav_button svg path {
            transition: all 0.3s linear;
        }
        
        .bg-search:hover {
            background-color: var(--color-white);
            border: 1px solid var(--color-light-orange);
        }
        
        .bg-search svg path {
            transition: all 0.3s linear;
        }
        
        .nav_button:hover {
            color: var(--color-white);
            background-color: var(--color-light-orange);
        }
        
        .nav_button:hover svg path {
            fill: var(--color-white);
        }
        
        .bg-search:hover svg path {
            stroke: var(--color-light-orange);
        }
        /* second_section */
        
        .preview {
            padding: 15px 24px;
            border-radius: 50%;
            text-align: center;
            background-color: transparent;
            border: 1px solid var(--color-main);
            transition: all 0.3s linear;
        }
        
        .rounded-85 {
            border-radius: 85px;
        }
        
        .visit {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            border-radius: 84px;
            background-color: #0000003f;
            transition: all 0.3s linear;
        }
        
        .category-card:hover .visit {
            opacity: 1;
        }
        
        .preview svg path {
            transition: all 0.3s linear;
        }
        
        .preview:hover svg path {
            stroke: var(--color-white);
        }
        
        .preview:hover {
            background: var(--color-main);
        }
        
        .left-corner {
            left: 9px;
        }
        
        .mr-30 {
            margin-right: 30px;
        }
        /*  */
        
        .card_box {
            text-align: center;
            padding: 30px 30px 26px 26px;
            width: 100%;
            height: 178px;
            border-radius: 14px;
            background-color: var(--color-white)
        }
        
        .sect_section {
            position: absolute;
            left: 0;
            top: 10%;
        }
        
        .line_height {
            line-height: 26px;
        }
        /* section_slider */
        
        .arrow_left {
            position: static;
            /* bottom: 5%;
            right: 5%; */
        }
        
        .next {
            padding: 15px 24px;
            border-radius: 50%;
            text-align: center;
            background-color: transparent;
            border: 1px solid var(--color-main);
            transition: all 0.3s linear;
        }
        
        .next svg path {
            transition: all 0.3s linear;
        }
        
        .next:hover svg path {
            stroke: var(--color-white);
        }
        
        .next:hover {
            background: var(--color-main);
        }
        
        .second .slick-list {
            overflow: visible !important;
            position: relative;
            z-index: 1;
        }
        
        .second .slick-list::after {
            content: ' ';
            position: absolute;
            top: 0px;
            bottom: 0px;
            width: 4000px;
            right: 100%;
            background-color: var(--color-light-yellow);
        }
        
        .find_poplar_card {
            border-radius: 16px;
            border: 2px solid var(--color-white);
            padding: 12px 12px 36px 12px;
            background-color: var( --color-light-yellow);
        }
        
        .btn_book_now {
            border-radius: 46px;
            padding: 12px 16px 11px 16px;
            border: 1px solid var(--color-main);
            background-color: transparent;
        }
        
        .btn_book_now:hover {
            border: 1px solid transparent;
            background-color: var(--color-main);
            color: var(--color-white)
        }
        
        .b_radius {
            border-radius: 16px;
        }
        /*  */
        /* tab_section */
        
        .nav-tabs {
            display: flex !important;
            justify-content: center !important;
        }
        
        .nav-tabs .nav-item.show .nav-link,
        .nav-tabs .nav-link.active {
            color: var(--color-white) !important;
            background-color: var(--color-main) !important;
            border-color: var(--color-main) !important;
            border-radius: 20px !important;
        }
        
        .nav-link {
            color: var(--color-main) !important;
            font-size: var(--fs-md) !important;
            border: 2px solid var(--color-main) !important;
            transition: all linear 0.3s !important;
            border-radius: 20px !important;
        }
        
        .nav-tabs .nav-link {
            margin-left: 7px !important;
            margin-right: 7px !important;
        }
        /* grid-container */
        
        .grid_container {
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto;
            gap: 15px;
        }
        
        .grid_item {
            border-radius: 20px;
            overflow: hidden;
        }
        
        .grid_item_1 {
            grid-row: 1/2;
            grid-column: 1/2;
        }
        
        .grid_item_2 {
            grid-row: 3/4;
            grid-column: 1/2;
        }
        
        .grid_item_3 {
            grid-row: 4/5;
            grid-column: 1/2;
        }
        
        .grid_item_4 {
            grid-row: 2/3;
            grid-column: 1/2;
        }
        
        .grid_item_5 {
            grid-row: 5/6;
            grid-column: 1/2;
        }
        
        .grid_item_6 {
            grid-row: 6/7;
            grid-column: 1/2;
        }
        
        .grid_item_7 {
            grid-column: 1/2;
            grid-row: 1/3;
        }
        
        .grid_item_8 {
            grid-column: 1/2;
            grid-row: 4/5;
        }
        
        .grid_item_9 {
            grid-row: 3/4;
            grid-column: 1/2;
        }
        
        .grid_item_10 {
            grid-column: 1/2;
            grid-row: 4/5;
        }
        
        .grid_item_11 {
            grid-column: 2/3;
            grid-row: 2/3;
        }
        /*  */
        
        .yellow_line {
            position: relative;
        }
        
        .yellow_line::after {
            content: '';
            position: absolute;
            left: 0;
            top: -12px;
            width: 67px;
            height: 8px;
            border-radius: 4px;
            background-color: #FFD082;
        }
        
        .card_man_section {
            border-radius: 14px;
            padding: 34px 30px 30px 30px;
            background-color: var(--color-white);
        }
        /* input_section */
        
        .fixer1 {
            display: none;
        }
        
        .fixer2 {
            transform: rotate(48deg) translate(3px, -1px);
        }
        
        .fixer3 {
            transform: rotate(-45deg) translate(13px, -10px);
        }
        
        .date-to-party {
            margin-top: 44px;
            padding: 11px 20px 11px 28px;
            border-radius: 38px;
            background: #FDFEFF;
            box-shadow: 0px 28px 56px -6px rgba(246, 111, 77, 0.05);
        }
        
        .bg-search {
            transition: all 0.3s linear;
            border: 1px solid transparent;
            padding: 13.06px;
            cursor: pointer;
            background-color: var(--color-light-orange);
            border-radius: 27px;
        }
        
        .where-line::after {
            content: '';
            position: absolute;
            width: 1px;
            right: -35%;
            top: -16%;
            height: 47px;
            background: #EAEAEB;
            display: none;
        }
        /* footer */
        
        .link_footer {
            position: relative;
        }
        
        .link_footer::after {
            content: "";
            position: absolute;
            width: 0;
            height: 2px;
            bottom: -6px;
            left: 0;
            background-color: var(--color-light-orange);
            transition: 0.2s ease-out;
        }
        
        .link_footer:hover::after {
            right: 0;
            width: 100%;
        }
        /* media quary */
        
        @media (max-width:991.5px) {
            label[id="nav"] {
                width: 30px;
                height: 24px;
                cursor: pointer;
                position: absolute;
                top: 44px;
                right: 9px;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                align-items: center;
                z-index: 4;
            }
            label[id="nav"]>span {
                width: 100%;
                height: 5px;
                background-color: black;
            }
            .left-corner {
                left: 9px;
            }
            .menubar {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                max-width: 400px;
                height: 100%;
                background-color: var(--color-yellow);
                position: fixed;
                top: 0;
                z-index: 3;
                left: -100%;
                opacity: 1;
                transition: all 0.5s ease-in-out;
                box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
            }
            .left-0 {
                left: 0;
            }
        }
        
        @media (min-width:575.5px) {
            .card_box {
                padding: 19px 19px 13px 22px;
            }
            .w_100 {
                width: 50%;
            }
            .nav_button {
                padding: 19px 34px;
            }
            .where-line::after {
                display: block;
            }
            .mw-to-card-500 {
                max-width: 500px;
            }
            /* grid */
            .grid_container {
                gap: 30px;
            }
            .grid_item_2 {
                grid-row: 1/3;
                grid-column: 2/3;
            }
            .grid_item_3 {
                grid-row: 3/4;
                grid-column: 1/3;
            }
            .grid_item_5 {
                grid-row: 4/5;
                grid-column: 1/2;
            }
            .grid_item_6 {
                grid-row: 4/5;
                grid-column: 2/3;
            }
            .grid_item_9 {
                grid-row: 3/4;
                grid-column: 1/3;
            }
        }
        
        @media (min-width:767.5px) {
            .w_100 {
                width: 50%;
            }
            /* grid */
            .grid_item_1 {
                grid-row: 1/2;
                grid-column: 1/2;
            }
            .grid_item_2 {
                grid-row: 1/3;
                grid-column: 2/3;
            }
            .grid_item_3 {
                grid-row: 3/4;
                grid-column: 1/3;
            }
            .grid_item_4 {
                grid-row: 2/3;
                grid-column: 1/2;
            }
            .grid_item_5 {
                grid-row: 4/5;
                grid-column: 1/2;
            }
            .grid_item_6 {
                grid-row: 4/5;
                grid-column: 2/3;
            }
            .grid_item_7 {
                grid-column: 1/2;
                grid-row: 1/3;
            }
            .grid_item_8 {
                grid-column: 2/3;
                grid-row: 1/2;
            }
            .grid_item_9 {
                grid-row: 3/4;
                grid-column: 1/3;
            }
            .grid_item_10 {
                grid-column: 2/3;
                grid-row: 2/3;
            }
            .grid_item_11 {
                grid-column: 2/3;
                grid-row: 2/3;
            }
        }
        
        @media (min-width:991.5px) {
            .mw_custom_467 {
                max-width: 467px;
            }
            .card_box {
                text-align: start;
                padding: 12px 12px 12px 14px;
            }
            .w_100 {
                width: 100%;
            }
            /* grid */
            .grid_item_1 {
                grid-row: 1/2;
                grid-column: 1/2;
            }
            .grid_item_2 {
                grid-row: 1/3;
                grid-column: 2/3;
            }
            .grid_item_3 {
                grid-row: 1/2;
                grid-column: 3/5;
            }
            .grid_item_4 {
                grid-row: 2/3;
                grid-column: 1/2;
            }
            .grid_item_5 {
                grid-row: 2/3;
                grid-column: 3/4;
            }
            .grid_item_6 {
                grid-row: 2/3;
                grid-column: 4/5;
            }
            .grid_item_7 {
                grid-column: 1/2;
                grid-row: 1/3;
            }
            .grid_item_8 {
                grid-column: 2/3;
                grid-row: 1/2;
            }
            .grid_item_9 {
                grid-column: 3/5;
                grid-row: 1/2;
            }
            .grid_item_10 {
                grid-column: 2/3;
                grid-row: 2/3;
            }
            .grid_item_11 {
                grid-column: 2/3;
                grid-row: 2/3;
            }
        }
        
        @media (min-width:1199.5px) {
            .card_box {
                padding: 30px 30px 26px 26px;
                height: 100%
            }
        }