@import url('./root.css');
* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

.container {
    max-width: 1170px !important;
}

.bg_body {
    background-color: var(--color-light-yellow);
}


/* padding */

.pt_custom_40 {
    padding-top: 40px;
}

.pt_custom_14 {
    padding-top: 14px;
}

.ps_custom_12 {
    padding-left: 12px;
}

.pt_custom_35 {
    padding-top: 35px;
}


/* max-width */

.w_100 {
    width: 100%;
}

.mw_custom_400 {
    max-width: 400px;
}

.card_box {
    text-align: center;
    padding: 30px 30px 26px 26px;
    width: 100%;
    height: 178px;
    border-radius: 14px;
    background-color: var(--color-white)
}

.sect_section {
    position: absolute;
    left: 0;
    top: 10%;
}

.line_height {
    line-height: 26px;
}


/* section_slider */

.second .slick-list {
    overflow: visible !important;
    position: relative;
    z-index: 1;
}

.second .slick-list::after {
    content: ' ';
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 4000px;
    right: 100%;
    background-color: var(--color-light-yellow);
}

.find_poplar_card {
    border-radius: 16px;
    border: 2px solid var(--color-white);
    padding: 12px 12px 36px 12px;
    background-color: var( --color-light-yellow);
}

.btn_book_now {
    border-radius: 46px;
    padding: 12px 16px 11px 16px;
    border: 1px solid var(--color-main);
    background-color: transparent;
}

.btn_book_now:hover {
    border: 1px solid transparent;
    background-color: var(--color-main);
    color: var(--color-white)
}

.b_radius {
    border-radius: 16px;
}


/* media quary */

@media (min-width:575.5px) {
    .card_box {
        padding: 19px 19px 13px 22px;
    }
    .w_100 {
        width: 50%;
    }
}

@media (min-width:767.5px) {
    .w_100 {
        width: 50%;
    }
}

@media (min-width:991.5px) {
    .mw_custom_467 {
        max-width: 467px;
    }
    .card_box {
        text-align: start;
        padding: 12px 12px 12px 14px;
    }
    .w_100 {
        width: 100%;
    }
}

@media (min-width:1199.5px) {
    .card_box {
        padding: 30px 30px 26px 26px;
        height: 100%
    }
}